// Background

$background: #FFFFFF;
$background-img: gray;

// Dark

$overDark: #141517;
$overDarkOp20: rgba(20, 21, 23, 0.2);
$overDarkOp50: rgba(20, 21, 23, 0.5);
$dark: #2C2E3F;
$darkOp30: rgba(44, 46, 63, 0.3);
$darkOp70: rgba(44, 46, 63, 0.7);

// Gray

$gray: #293642;
$grayLight: #48494D;
$grayOp10: rgba(41, 54, 66, 0.1);

// Accent

$mainAccent: #FE7865;
$focusAccent: #F17D4B;

// Light

$light: #FBF8F8;
$lightGray: #D7D9DF;

// White

$white: #FFFFFF;
$whiteOp80: rgba(255, 255, 255, 0.8);
$whiteOp70: rgba(255, 255, 255, 0.7);
